/*

REWORKKKKKKKKK, with libraries found and saved, drag and drop baller code from personal repo

.avs-creator {
    padding: 2rem;
  }
  
  .avs-creator__canvas {
    margin-top: 1rem;
    min-height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
  }
  
  .avs-creator__element {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 8px;
  }

*/
  